body{
  margin: 0px;
  background-size: 50%;
  color: white;
  font-family: sans-serif;
  background-color: rgb(0, 57, 136);
}

img.main-banner{
  float: left;
  width: 100%;
}


div{
  float: left;
}

div.side-bar{
  height: 1500px;
  width: 10%;
  background-image: url('images/sidebanner.png');
  background-size: contain;
  background-repeat: no-repeat;
}

div.container{
  width: 40%;
  margin-left: 20%;
  margin-right: 20%;
}

div.login-main{
  margin-top: 100px;
  margin-bottom: 100px;
  background-color: rgb(1, 66, 156);
  color: white;
  border-radius: 50px;
  padding: 50px;
  border: 2px solid white;

  padding-top: 20px;
}

h1{
  margin: 0px;
}

.bold{
  font-weight: bold;
}

p.hide{
  color: white;
}

p, .login-paragraph{
  font-size: 20px;
  margin: 0px;
}

h2{
  margin: 0px;
}

div.subheading{
  margin-top: 20px;
  width: 100%;
}

hr.login{
  background-color: white;
  height: 3px;
  border: none;
  width: 100%;
}

div.login-row{
  width: 100%;
}

div.login-caption{
  width: 70%;
}

div.login-input{
  width: 30%;
}

input.login-text{
  height: 24px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 5px;

  border-radius: 5px;
  border: none;
  background-color: white;
  color: rgb(0, 48, 88);
  font-family: sans-serif;
}

input.submit, a.submit{
  font-weight: bold;
  font-size: 20px;
  font-family: sans-serif;
  color: rgb(0, 48, 88);
  padding: 10px;
  text-decoration: none;

  background-color: #ffffff;
  border: 1px solid #003058;
  border-radius: 10px;
}

input.submit:hover, a.submit:hover{
  background-color: #003058;
  color: white;
}

input.submit:active, a.submit:active{
  background-color: #001a30;
  color: white;
}

div.submit{
  width: 80%;
  
}

p.error{
  color: red;
}

div.signup-confirm{
  width: 100%;
}

/* Sign Up Confirmation */

div.sign-up-confirmation-main{
  margin-top: 100px;
  margin-bottom: 100px;
  width: 100%;
  background-color: white;
  color: #01429c;
  border-radius: 50px;
  padding: 50px;
}

/* Sign up Success */

h1.signup-success-main-heading, h2.signup-success-main-heading{
  text-align: center;
}

div.signup-success-main{
  width: 100%;
}

div.signup-success-side-bar{
  width: 30%;
  height: 1px;
}

div.signup-success-proceed-to-login-container{
  width: 40%;
}

input.proceed-to-login{
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  font-family: sans-serif;
  color: #001a30;
  padding: 10px;
  text-decoration: none;

  background-color: white;
  border: 1px solid #003058;
  border-radius: 10px;
}

input.proceed-to-login:hover{
  background-color: #003058;
  color: white;
}

input.proceed-to-login:active{
  background-color: #001a30;
  color: white;
}

.center-text{
  text-align: center;
}

div.logo-container{
  width: 20%;
}

img.bluelock-logo{
  width: 100%;
}

div.logo-sidebar{
  width: 40%;
  height: 1px;
}

div.signup-main-heading{
  width: 100%;
}

/* Log in Page */

div.login-sidebar{
  height: 1px;
  width: 20%;
}

div.login-mainbar{
  width: 60%;
}

div.login-fullbar{
  width: 100%;
  height: 1px;
}

div.login-form-submit{
  width: 30%;
  margin-left: 35%;
  margin-right: 35%;
}

/* Home Page */

div.home-main{
  width: 80%;
}

div.heading{
  width: 100%;
}

div.main-heading{
  width: 19%;
  background-color: white;
  color:rgb(0, 48, 88);
  border-radius: 20px;
  text-align: center;
  margin-top: 1%;
}

h3.main-heading{
  margin:15px 0px 5px 0px;
}

div.side-heading{
  width: 80%;
  height: 1px;
}

div.logout-side{
  height: 1px;
  width: 30%;
}

div.logout-main{
  width: 40%;
}

input.logout{
  width: 100%;
  font-size: 16px;
  border: none;
  background: none ;
  color: rgb(0, 48, 88);
  text-decoration: underline;
  margin-bottom: 15px;
}

div.copyright{
  width: 100%;
  background-color: white;
  text-align: center;
}

p.copyright{
  color: #003058;
  font-weight: bold;
}

hr.copyright{
  width: 99%;
  height: 1px;
  background-color: #003058;
}

div.disclaimer{
  width: 100%;
  height: 50px;
}

marquee.disclaimer{
  color: white;
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
}

div.student-containers{
  width: 100%;
}

div.student-container{
  width: 30%;
  margin: 0px 1.66% 0px 1.66%;
  background-color: rgb(0, 57, 136);

  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative; /* Ensure the container is positioned relative */
}

img.student-face{
  width: 100%;
  display: block; /* Remove any spacing below the image */
}

input.student-face{
  width: 100%;
  height: 100%;
  border: none;
  position: absolute; 
  top: 0;
  left: 0;
  background: none;
  padding: 0;
  margin: 0;
}

img.student-face{
  width: 100%;
}

div.home-body-heading{
  margin-bottom: 200px;
}

div.short{
  height: 900px;
  background-size: contain;
  background-image: url('images/shortsidebanner.png');
}

