body{
  margin: 0px;
  background-size: 50%;
  color: white;
  font-family: sans-serif;
}



div{
  float: left;
}

div.side-bar{
  height: 1px;
  width: 30%;
}

div.container{
  width: 40%;
}

div.login-main{
  margin-top: 100px;
  margin-bottom: 100px;
  width: 100%;
  background-color: rgb(0, 48, 88);
  color: #01429c;
  border-radius: 50px;
  padding: 50px;

  padding-top: 20px;
}

h1{
  margin: 0px;
}

.bold{
  font-weight: bold;
}

p.hide{
  color: white;
}

p, .login-paragraph{
  font-size: 20px;
  margin: 0px;
}

h2{
  margin: 0px;
}

div.subheading{
  margin-top: 20px;
  width: 100%;
}

hr.login{
  background-color: #01429c;
  height: 3px;
  border: none;
  width: 100%;
}

div.login-caption{
  width: 70%;
}

div.login-input{
  width: 30%;
}

input.login-text{
  height: 18px;
  /* border: 1px solid black; */
  margin-bottom: 1px;

  border-radius: 5px;
  border: none;
  background-color: rgb(209, 234, 255);
  font-family: sans-serif;
}

input.submit, a.submit{
  font-weight: bold;
  font-size: 20px;
  font-family: sans-serif;
  color: white;
  padding: 10px;
  text-decoration: none;

  background-color: #01429c;
  border: 1px solid #003058;
  border-radius: 10px;
}

input.submit:hover, a.submit:hover{
  background-color: #003058;
}

input.submit:active, a.submit:active{
  background-color: #001a30;
}

div.submit{
  width: 80%;
}

p.error{
  color: red;
}

div.signup-confirm{
  width: 100%;
}




/* Sign Up Confirmation */

div.sign-up-confirmation-main{
  margin-top: 100px;
  margin-bottom: 100px;
  width: 100%;
  background-color: white;
  color: #01429c;
  border-radius: 50px;
  padding: 50px;
}




/* Sign up Success */

h1.signup-success-main-heading, h2.signup-success-main-heading{
  text-align: center;
}

div.signup-success-main{
  width: 100%;
}

div.signup-success-side-bar{
  width: 30%;
  height: 1px;
}

div.signup-success-proceed-to-login-container{
  width: 40%;
}

input.proceed-to-login{
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  font-family: sans-serif;
  color: white;
  padding: 10px;
  text-decoration: none;

  background-color: #01429c;
  border: 1px solid #003058;
  border-radius: 10px;
}

input.proceed-to-login:hover{
  background-color: #003058;
}

input.proceed-to-login:active{
  background-color: #001a30;
}

.center-text{
  text-align: center;
}

div.logo-container{
  width: 20%;
}

img.bluelock-logo{
  width: 100%;
}

div.logo-sidebar{
  width: 40%;
  height: 1px;
}

div.signup-main-heading{
  width: 100%;
}


/* Log in Page */

div.login-sidebar{
  height: 1px;
  width: 20%;
}

div.login-mainbar{
  width: 60%;
}

div.login-halfbar{
  width: 50%;
}



/* Home Page */

div.home-main{
  width: 100%;
}

div.heading{
  width: 100%;
}

div.main-heading{
  width: 15%;
}

div.side-heading{
  width: 85%;
  height: 1px;
}

div.logout-side{
  height: 1px;
  width: 30%;
}

div.logout-main{
  width: 40%;
}

input.logout{
  width: 100%;
  border: none;
  font-size: 16px;
  background: none;
  color: white;
  text-decoration: underline;
}

div.home-body{
  width: 100%;
  height: 200px;
}

div.home-body-banner{
  width: 20%;
  background-color: red;
  height: 360px;

  margin-top: 10%;
  margin-left: 6.66%;
  margin-right: 6.66%;
}

input.student-banner{
  width: 100%;
  height: 100%;
  border: none;
  
  background-position: center;
  background-image: url('images/venenosoFace.png');
  background-size: cover;
  background-repeat: no-repeat;
}
